<!DOCTYPE html>
<html>
	
	<!-- Navbar Color -->
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	
		<!-- Navbar -->
		<div class="pos-f-t">
		  <div class="collapse" id="navbarToggleExternalContent">
		    <div class="bg-inverse p-4">
		      <h4 class="text-white">Collapsed content</h4>
		      <span class="text-muted">Home</span>
		      <span class="text-muted">Contact</span>
		      <span class="text-muted">About</span>
		      <span class="text-muted">ITC</span>
		      <span class="text-muted">Work</span>
		      <span class="text-muted">Social</span>
		      <span class="text-muted">Maps</span>

		    </div>
		  </div>
		  <nav class="navbar navbar-inverse bg-inverse">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  </nav>
		</div>

	</nav>

	<head>
	    <title>Portfolio</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
    	<%= yield %>
	</body>

</html>