<!DOCTYPE html>
<html>

	<!-- Navbar Color -->
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	
		<!-- Image and text -->
		<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#">
				<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				Bootstrap
			</a>
		</nav>

		<!-- Navbar Improved -->
		<ul class="nav">
			<li class="nav-item">
				<a href="/">
					<button type="button" class="btn btn-outline-secondary">Home</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact">
					<button type="button" class="btn btn-outline-secondary">Contact</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About">
					<button type="button" class="btn btn-outline-secondary">About</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ITC">
					<button type="button" class="btn btn-outline-secondary">ITC</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Work">
					<button type="button" class="btn btn-outline-secondary">Work</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Socials">
					<button type="button" class="btn btn-outline-secondary">Social</button>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ask">
					<button type="button" class="btn btn-outline-secondary">Maps</button>
				</a>
			</li>

			<!-- Navbar Colors
			<button type="button" class="btn btn-outline-primary">Home</button>
			<button type="button" class="btn btn-outline-secondary">Secondary</button>
			<button type="button" class="btn btn-outline-success">Success</button>
			<button type="button" class="btn btn-outline-info">Info</button>
			<button type="button" class="btn btn-outline-warning">Warning</button>
			<button type="button" class="btn btn-outline-danger">Danger</button>
			-->
		</ul>

		<!-- Navbar Colors
		<div class="pos-f-t">
			<div class="collapse" id="navbarToggleExternalContent">
				<div class="bg-inverse p-4">
			    	<h4 class="text-white">Collapsed content</h4>
			    	<span class="text-muted">Home</span>
			    	<span class="text-muted">Contact</span>
			    	<span class="text-muted">About</span>
			    	<span class="text-muted">ITC</span>
			    	<span class="text-muted">Work</span>
			    	<span class="text-muted">Social</span>
			    	<span class="text-muted">Maps</span>
		    	</div>
			</div>

			<nav class="navbar navbar-inverse bg-inverse">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			    </button>
			</nav>
		</div> -->
	</nav>

	<head>
		<title>Portfolio</title>
		<%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
    	<%= yield %>
	</body>

</html>